
body {
    background-image: url('https://img.freepik.com/free-photo/top-view-business-office-desk-background-applying-job-form-pen-pencil-eyeglasses-tree-wooden-table-background-with-copy-space_1921-21.jpg?w=1380&t=st=1680667746~exp=1680668346~hmac=c05a93edac9e6ce4567db4643235a345376f78d23fc48ff4fe04175a614222ea');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.window {
    position: relative;
    width: 92%;
    height: 100vh;
    margin-top: 15%;    
}

.header-footer {
    position: relative;
    width: 92%;
    height: 20vh;    
}

a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

a:visited {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

p {
    position: relative;
    width: 65%;
}

h2 {
    position: relative;
    width: 65%;
}

span {
    color: teal;
    font-family: 'Brush Script MT', cursive;
}

*{
    font-family: sans-serif;
}

/* <navigator> */
nav {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 27px;
    margin: 10px 40px;
}

#logoPerson {
    text-decoration: none;
    font-family:'Brush Script MT', cursive;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
/* </navigator> */

/* <aboutme> */
.aboutme {
    display: flex;
    flex-direction: column;
}

.comicImage {
    background-color: white;
    color: black;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

.window .comicDisplay {
    
}
/* </aboutme> */

/* <projects> */
.projects {
    display: flex;
    flex-direction: column;
}
/* </projects> */

/* <Contact> */
.container {
    display: flex;
}

.item {
    display: inline-block;
    list-style: none;
    font-size: 25px;
    margin: 10px 40px;
}

#contacts {
    margin-left: 8%;
    margin-top: 15%;
}
/*  </Contact>  */

