
body {
    background-image: url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window {
    position: relative;
    width: 92%;
    height: 100vh;
    margin-top: 15%;    
}

.header-footer {
    position: relative;
    width: 92%;
    height: 20vh;    
}

a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

a:visited {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}

p {
    position: relative;
    width: 65%;
}

h2 {
    position: relative;
    width: 65%;
}

span {
    color: teal;
    font-family: 'Brush Script MT', cursive;
}

*{
    font-family: sans-serif;
}

/* <navigator> */
nav {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 27px;
    margin: 10px 40px;
}

#logoPerson {
    text-decoration: none;
    font-family:'Brush Script MT', cursive;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
/* </navigator> */

/* <aboutme> */
.aboutme {
    display: flex;
    flex-direction: column;
}

.comicImage {
    background-color: white;
    color: black;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}
/* </aboutme> */

/* <projects> */
.projects {
    display: flex;
    flex-direction: column;
}
/* </projects> */

/* <Contact> */
.container {
    display: flex;
    justify-content: space-between;
}

.item {
    display: inline-block;
    list-style: none;
    font-size: 25px;
    margin: 10px 40px;
}

#contacts {
    margin-left: 8%;
    margin-top: 15%;
}
/*  </Contact>  */
